Repository GagaMen/dominionizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache, markdownlint --ignore-path .gitignore

.lintstagedrc.json:

{
    "*.{ts,js,json,component.html}": "eslint --ignore-path .gitignore",
    "*.scss": "stylelint --ignore-path .gitignore --cache",
    "*.md": "markdownlint --ignore-path .gitignore"
}

build: integrate data into bundle
  angular.json
  ngsw-config.json
  package.json
  scripts/build.ts
  scripts/tsconfig.json
  src/app/services/card-type.service.spec.ts
  src/app/services/card-type.service.ts
  src/app/services/card.service.spec.ts
  src/app/services/card.service.ts
  src/app/services/data.service.spec.ts
  src/app/services/data.service.ts
  src/app/services/expansion.service.spec.ts
  src/app/services/expansion.service.ts
  src/app/services/translation.service.spec.ts
  src/app/services/translation.service.ts
  src/assets/data/translations.chinese.ts
  src/assets/data/translations.czech.ts
  src/assets/data/translations.dutch.ts
  src/assets/data/translations.finnish.ts
  src/assets/data/translations.french.ts
  src/assets/data/translations.german.ts
  src/assets/data/translations.greek.ts
  src/assets/data/translations.hungarian.ts
  src/assets/data/translations.italian.ts
  src/assets/data/translations.japanese.ts
  src/assets/data/translations.korean.ts
  src/assets/data/translations.norwegian.ts
  src/assets/data/translations.polish.ts
  src/assets/data/translations.romanian.ts
  src/assets/data/translations.russian.ts
  src/assets/data/translations.spanish.ts
  src/assets/data/translations.swedish.ts
  src/assets/data/translations.ts
  tsconfig.json
Due: eslint --ignore-path .gitignore

build: remove obsolete webpack config
  angular.json
  extra-webpack.config.js
  package-lock.json
  package.json
Due: eslint --ignore-path .gitignore

fix: update service worker configuration
  ngsw-config.json
Due: eslint --ignore-path .gitignore

chore(assets): optimize logo files
  README.md
  package-lock.json
  package.json
  src/app/components/app-bar/app-bar.component.html
  src/app/components/home/home.component.html
  src/assets/logo/logo-1024x1024.png
  src/assets/logo/logo-maskable-1024x1024.png
  src/assets/logo/logo-short.min.svg
  src/assets/logo/logo.min.svg
  svgo.config.js
Due: eslint --ignore-path .gitignore, markdownlint --ignore-path .gitignore

chore(assets): simplify configuration
  angular.json
Due: eslint --ignore-path .gitignore

feat: support swedish
  angular.json
  scripts/build.ts
  src/app/models/language.ts
  src/locale/translations.sv.xlf
  vercel.json
Due: eslint --ignore-path .gitignore

build: set moduleResolution for build script
  scripts/tsconfig.json
Due: eslint --ignore-path .gitignore

fix(wiki-bot): allow '&' character in expansion names
  tools/wiki-bot/src/wiki-bot/builder/expansion-builder.spec.ts
  tools/wiki-bot/src/wiki-bot/builder/expansion-builder.ts
Due: eslint --ignore-path .gitignore

chore: update data/assets build with WikiBot
  src/assets/card_art/CarnivalArt.jpg
  src/assets/card_art/CoronetArt.jpg
  src/assets/card_art/CourserArt.jpg
  src/assets/card_art/DemesneArt.jpg
  src/assets/card_art/FarmhandsArt.jpg
  src/assets/card_art/FarrierArt.jpg
  src/assets/card_art/FerrymanArt.jpg
  src/assets/card_art/FootpadArt.jpg
  src/assets/card_art/ForayArt.jpg
  src/assets/card_art/HousecarlArt.jpg
  src/assets/card_art/Huge_TurnipArt.jpg
  src/assets/card_art/InfirmaryArt.jpg
  src/assets/card_art/InvasionArt.jpg
  src/assets/card_art/JoustArt.jpg
  src/assets/card_art/LaunchArt.jpg
  src/assets/card_art/LootingArt.jpg
  src/assets/card_art/MirrorArt.jpg
  src/assets/card_art/RenownArt.jpg
  src/assets/card_art/RushArt.jpg
  src/assets/card_art/ShopArt.jpg
  src/assets/card_symbols/Cornucopia_&_Guilds_icon.png
  src/data/cards.german.json
  src/data/cards.json
  src/data/cards.polish.json
  src/data/expansions.json
  tools/wiki-bot/last-generation.json
Due: eslint --ignore-path .gitignore

ci(github): fix git staging in 'Run wiki bot'
  .github/workflows/run-wiki-bot.yml
Due: none

ci(github): update action dependencies
  .github/workflows/deploy-release.yml
  .github/workflows/run-checks.yml
  .github/workflows/run-wiki-bot.yml
Due: none

chore(vscode): update settings + remove deprecated extension
  .vscode/extensions.json
Due: eslint --ignore-path .gitignore

chore: add devcontainer settings to develop in docker container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .vscode/extensions.json
  README.md
Due: eslint --ignore-path .gitignore, markdownlint --ignore-path .gitignore

build: update node requirements
  package-lock.json
  package.json
Due: eslint --ignore-path .gitignore

ci(github): update versions of node and npm
  .github/workflows/deploy-release.yml
  .github/workflows/run-checks.yml
  .github/workflows/run-wiki-bot.yml
Due: none

chore(devcontainer): update node
  .devcontainer/Dockerfile
Due: none

build: update dependencies (Angular v18)
  .eslintrc.js
  package-lock.json
  package.json
  src/app/components/configuration/configuration.component.scss
  src/app/components/footer/footer.component.scss
  src/app/components/home/home.component.scss
  src/app/services/card.service.ts
  src/scss/_material-components.scss
  src/scss/_variables.scss
  src/scss/styles.scss
  tools/wiki-bot/package.json
  tsconfig.json
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache

refactor(wiki-bot): use new cargo table api
  tools/wiki-bot/bruno/Dominionizer/Cargofields.bru
  tools/wiki-bot/bruno/Dominionizer/Cargotables.bru
  tools/wiki-bot/bruno/Dominionizer/Components.bru
  tools/wiki-bot/bruno/Dominionizer/Editions.bru
  tools/wiki-bot/bruno/Dominionizer/bruno.json
  tools/wiki-bot/src/wiki-bot/wiki-client/api-models.ts
  tools/wiki-bot/src/wiki-bot/wiki-client/wiki-client.spec.ts
  tools/wiki-bot/src/wiki-bot/wiki-client/wiki-client.ts
Due: eslint --ignore-path .gitignore

chore: ignore ai specifications
  .gitignore
Due: none

chore: update angular core + cli to v19
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/components/app-bar/app-bar.component.ts
  src/app/components/card-list/card-list.component.ts
  src/app/components/card/card.component.ts
  src/app/components/configuration/configuration.component.ts
  src/app/components/expansion-select/expansion-select.component.ts
  src/app/components/footer/footer.component.ts
  src/app/components/home/home.component.ts
  src/app/components/language-menu/language-menu.component.ts
  src/app/components/set-ordering-menu/set-ordering-menu.component.ts
  src/app/components/set/set.component.ts
  src/app/components/special-card-select/special-card-select.component.ts
  src/testing/components/language-menu.host.component.ts
  src/testing/components/set-ordering-menu.host.component.ts
Due: eslint --ignore-path .gitignore

chore: update angular material to v19
  package-lock.json
  package.json
  src/scss/_material-theme.scss
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache

chore: update angular eslint to v19
  package-lock.json
  package.json
Due: eslint --ignore-path .gitignore

chore: use exact versions for packages
  .npmrc
  package-lock.json
  package.json
Due: eslint --ignore-path .gitignore

chore: update angular core + cli to v20
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --ignore-path .gitignore

chore: update angular material to v20
  package-lock.json
  package.json
Due: eslint --ignore-path .gitignore

chore: update angular eslint to v20
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/components/app-bar/app-bar.component.ts
  src/app/components/card-list/card-list.component.ts
  src/app/components/configuration/configuration.component.ts
  src/app/components/expansion-select/expansion-select.component.ts
  src/app/components/set-ordering-menu/set-ordering-menu.component.ts
  src/app/components/set/set.component.ts
  src/app/components/special-card-select/special-card-select.component.ts
  src/app/services/card-type.service.ts
  src/app/services/card.service.ts
  src/app/services/configuration.service.ts
  src/app/services/expansion.service.ts
  src/app/services/install.service.ts
  src/app/services/shuffle.service.ts
Due: eslint --ignore-path .gitignore

fix: use signal instead of bahaviour subject to handle change detection bug
  src/app/components/app-bar/app-bar.component.html
  src/app/components/app-bar/app-bar.component.spec.ts
  src/app/components/app-bar/app-bar.component.ts
  src/app/services/app-bar.service.spec.ts
  src/app/services/app-bar.service.ts
Due: eslint --ignore-path .gitignore

feat: migrate to control flow syntax
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/app-bar/app-bar.component.html
  src/app/components/app-bar/app-bar.component.ts
  src/app/components/card-list/card-list.component.html
  src/app/components/card-list/card-list.component.ts
  src/app/components/card/card.component.html
  src/app/components/card/card.component.ts
  src/app/components/configuration/configuration.component.html
  src/app/components/configuration/configuration.component.ts
  src/app/components/expansion-select/expansion-select.component.html
  src/app/components/expansion-select/expansion-select.component.ts
  src/app/components/language-menu/language-menu.component.html
  src/app/components/language-menu/language-menu.component.ts
  src/app/components/set-ordering-menu/set-ordering-menu.component.html
  src/app/components/set-ordering-menu/set-ordering-menu.component.ts
  src/app/components/set/set.component.html
  src/app/components/set/set.component.ts
  src/app/components/special-card-select/special-card-select.component.html
  src/app/components/special-card-select/special-card-select.component.ts
Due: eslint --ignore-path .gitignore

chore: update angular core + cli to v21
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Due: eslint --ignore-path .gitignore

chore: update angular material to v21
  package-lock.json
  package.json
Due: eslint --ignore-path .gitignore

chore: update angular eslint to v21
  package-lock.json
  package.json
Due: eslint --ignore-path .gitignore

chore: rename prettier config filename
  prettier.config.mjs
Due: none

ci(github): use the correct node version in github actions
  .github/workflows/deploy-release.yml
  .github/workflows/run-checks.yml
  .github/workflows/run-wiki-bot.yml
Due: none

chore: remove old eslint packages
  package-lock.json
  package.json
Due: eslint --ignore-path .gitignore

refactor: enable recommended @typescript-eslint rules
  eslint.config.mjs
  src/app/components/expansion-select/expansion-select.component.ts
  src/app/guards/configuration.guard.ts
  tools/wiki-bot/src/main.ts
Due: eslint --ignore-path .gitignore

refactor(wiki-bot): use new cargo table api
  package-lock.json
  tools/wiki-bot/bruno/Dominionizer/Cargofields.bru
  tools/wiki-bot/bruno/Dominionizer/Cargotables.bru
  tools/wiki-bot/bruno/Dominionizer/Components.bru
  tools/wiki-bot/bruno/Dominionizer/Editions.bru
  tools/wiki-bot/bruno/Dominionizer/Kingdoms.bru
  tools/wiki-bot/bruno/Dominionizer/Types.bru
  tools/wiki-bot/bruno/Dominionizer/bruno.json
  tools/wiki-bot/bruno/Dominionizer/collection.bru
  tools/wiki-bot/src/wiki-bot/wiki-client/api-models.ts
  tools/wiki-bot/src/wiki-bot/wiki-client/wiki-client.spec.ts
  tools/wiki-bot/src/wiki-bot/wiki-client/wiki-client.ts
Due: eslint --ignore-path .gitignore

refactor(wiki-bot): create edition builder
  src/app/models/edition.ts
  tools/wiki-bot/src/wiki-bot/builder/edition-builder.spec.ts
  tools/wiki-bot/src/wiki-bot/builder/edition-builder.ts
Due: eslint --ignore-path .gitignore
