Repository GagaMen/dominionizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint --ignore-path .gitignore --cache, markdownlint --ignore-path .gitignore

fix(app): track cards by id in card list
  src/app/components/card-list/card-list.component.html
  src/app/components/card-list/card-list.component.spec.ts
Due: eslint

feat(wiki-bot): separate validation warnings from errors
  .github/workflows/run-wiki-bot.yml
  .gitignore
  tools/wiki-bot/src/wiki-bot/dominionizer-wiki-bot.spec.ts
  tools/wiki-bot/src/wiki-bot/dominionizer-wiki-bot.ts
  tools/wiki-bot/src/wiki-bot/validation/validation-result.ts
Due: eslint

feat(app): support new language hebrew
  angular.json
  scripts/build.ts
  src/app/components/app-bar/app-bar.component.scss
  src/app/components/card/card.component.scss
  src/app/components/configuration/configuration.component.scss
  src/app/components/footer/footer.component.scss
  src/app/components/language-menu/language-menu.component.scss
  src/app/models/language.ts
  src/data/translations.hebrew.ts
  src/locale/translations.he.xlf
  vercel.json
Due: eslint, stylelint --ignore-path .gitignore --cache

chore: fix build script
  package-lock.json
  package.json
  scripts/build.ts
Due: eslint

chore: set engine to major version to avoid deployment errors on vercel
  .devcontainer/Dockerfile
  .github/workflows/deploy-release.yml
  .github/workflows/run-checks.yml
  .github/workflows/run-wiki-bot.yml
  package-lock.json
  package.json
Due: eslint

ci(github): prepare auth token for github action run wiki bot
  .github/workflows/run-wiki-bot.yml
  tools/wiki-bot/package.json
Due: eslint

ci(github): update actions to node 24 runtimes
  .github/workflows/deploy-release.yml
  .github/workflows/run-checks.yml
  .github/workflows/run-wiki-bot.yml
Due: none

ci(github): run check jobs on the declared node version
  .github/workflows/run-checks.yml
Due: none

ci(github): detect untracked files in wiki bot change detection
  .github/workflows/run-wiki-bot.yml
Due: none

ci(github): replace the setup job with self-contained check jobs
  .github/actions/setup/action.yml
  .github/workflows/run-checks.yml
Due: none

ci(github): merge the linter jobs into one
  .github/workflows/run-checks.yml
Due: none

ci(github): run wiki bot tests in the checks workflow
  .github/workflows/run-checks.yml
Due: none

ci(github): cancel superseded runs via concurrency
  .github/workflows/run-checks.yml
Due: none

ci(github): speed up dependency installation with --prefer-offline
  .github/actions/setup/action.yml
Due: none

chore: update data/assets build with WikiBot
  src/data/card-types.czech.json
  src/data/card-types.dutch.json
  src/data/card-types.finnish.json
  src/data/card-types.french.json
  src/data/card-types.german.json
  src/data/card-types.italian.json
  src/data/card-types.japanese.json
  src/data/card-types.korean.json
  src/data/card-types.polish.json
  src/data/card-types.russian.json
  src/data/card-types.spanish.json
  src/data/cards.chinese.json
  src/data/cards.czech.json
  src/data/cards.dutch.json
  src/data/cards.finnish.json
  src/data/cards.french.json
  src/data/cards.german.json
  src/data/cards.hungarian.json
  src/data/cards.italian.json
  src/data/cards.japanese.json
  src/data/cards.json
  src/data/cards.korean.json
  src/data/cards.norwegian.json
  src/data/cards.polish.json
  src/data/cards.russian.json
  src/data/cards.spanish.json
  tools/wiki-bot/last-generation.json
Due: eslint

ci(github): fix commitlint on pull request events
  .github/workflows/run-checks.yml
Due: none

feat(wiki-bot): add helpers for parsing template arguments
  tools/wiki-bot/src/wiki-bot/builder/helper-functions.spec.ts
  tools/wiki-bot/src/wiki-bot/builder/helper-functions.ts
Due: eslint

fix(wiki-bot): read translations from CardLangVersion templates
  tools/wiki-bot/src/wiki-bot/builder/card-translation-builder.spec.ts
  tools/wiki-bot/src/wiki-bot/builder/card-translation-builder.ts
  tools/wiki-bot/src/wiki-bot/builder/card-type-translation-builder.spec.ts
  tools/wiki-bot/src/wiki-bot/builder/card-type-translation-builder.ts
Due: eslint

feat(wiki-bot): warn when a translation block yields no translations
  tools/wiki-bot/src/main.ts
  tools/wiki-bot/src/wiki-bot/dominionizer-wiki-bot.spec.ts
  tools/wiki-bot/src/wiki-bot/dominionizer-wiki-bot.ts
  tools/wiki-bot/src/wiki-bot/validation/translation-presence-validator.spec.ts
  tools/wiki-bot/src/wiki-bot/validation/translation-presence-validator.ts
Due: eslint

chore: update data/assets build with WikiBot
  src/data/cards.chinese.json
  src/data/cards.czech.json
  src/data/cards.dutch.json
  src/data/cards.finnish.json
  src/data/cards.french.json
  src/data/cards.german.json
  src/data/cards.greek.json
  src/data/cards.hebrew.json
  src/data/cards.hungarian.json
  src/data/cards.italian.json
  src/data/cards.japanese.json
  src/data/cards.json
  src/data/cards.korean.json
  src/data/cards.norwegian.json
  src/data/cards.polish.json
  src/data/cards.romanian.json
  src/data/cards.russian.json
  src/data/cards.spanish.json
  tools/wiki-bot/last-generation.json
Due: eslint

refactor(services): generalize ally rule to dependent special cards
  src/app/services/shuffle.service.ts
Due: eslint

fix(services): do not add an undefined dependent card to the set
  src/app/services/shuffle.service.spec.ts
  src/app/services/shuffle.service.ts
Due: eslint

feat: implement new rules of expansion rising sun
  src/app/components/card/card.component.spec.ts
  src/app/components/card/card.component.ts
  src/app/services/shuffle.service.spec.ts
  src/app/services/shuffle.service.ts
Due: eslint

refactor(components): extract app bar height into shared variables
  src/app/app.component.scss
  src/scss/_variables.scss
Due: stylelint --ignore-path .gitignore --cache

fix(components): show validation error instead of navigating without an expansion
  src/app/components/configuration/configuration.component.html
  src/app/components/configuration/configuration.component.spec.ts
  src/app/components/configuration/configuration.component.ts
  src/app/components/edition-select/edition-select.component.html
  src/app/components/edition-select/edition-select.component.scss
  src/app/components/edition-select/edition-select.component.spec.ts
  src/app/components/edition-select/edition-select.component.ts
Due: eslint, stylelint --ignore-path .gitignore --cache

chore(i18n): re-extract translation source file
  src/locale/translations.xlf
Due: none

fix(guards): redirect via url tree instead of imperative navigation
  src/app/guards/configuration.guard.spec.ts
  src/app/guards/configuration.guard.ts
Due: eslint

refactor(components): reference edition select via view child
  src/app/components/configuration/configuration.component.html
  src/app/components/configuration/configuration.component.spec.ts
  src/app/components/configuration/configuration.component.ts
  src/testing/components/edition-select.stub.component.ts
Due: eslint

fix(components): align validation error message with the expansion labels
  src/app/components/edition-select/edition-select.component.scss
Due: stylelint --ignore-path .gitignore --cache

chore: update data/assets build with WikiBot
  src/assets/card_symbols/Rising_Sun_icon.png
  src/data/card-types.polish.json
  src/data/card-types.portuguese.json
  src/data/card-types.swedish.json
  src/data/cards.chinese.json
  src/data/cards.czech.json
  src/data/cards.dutch.json
  src/data/cards.finnish.json
  src/data/cards.french.json
  src/data/cards.german.json
  src/data/cards.germna.json
  src/data/cards.japanese.json
  src/data/cards.json
  src/data/cards.korean.json
  src/data/cards.polish.json
  src/data/cards.portuguese.json
  src/data/cards.russian.json
  src/data/cards.spanish.json
  src/data/cards.swedish.json
  src/data/editions.portuguese.json
  tools/wiki-bot/last-generation.json
Due: eslint

chore: update data/assets build with WikiBot
  src/assets/card_symbols/Rising_Sun_icon.png
  src/data/card-types.hebrew.json
  src/data/card-types.polish.json
  src/data/card-types.portuguese.json
  src/data/card-types.swedish.json
  src/data/card-types.ukrainian.json
  src/data/cards.chinese.json
  src/data/cards.czech.json
  src/data/cards.dutch.json
  src/data/cards.finnish.json
  src/data/cards.french.json
  src/data/cards.german.json
  src/data/cards.germna.json
  src/data/cards.japanese.json
  src/data/cards.json
  src/data/cards.korean.json
  src/data/cards.polish.json
  src/data/cards.portuguese.json
  src/data/cards.russian.json
  src/data/cards.spanish.json
  src/data/cards.swedish.json
  src/data/cards.ukrainian.json
  src/data/editions.portuguese.json
  tools/wiki-bot/last-generation.json
Due: eslint

chore: update data/assets build with WikiBot
  src/assets/card_symbols/Rising_Sun_icon.png
  src/data/card-types.hebrew.json
  src/data/card-types.italian.json
  src/data/card-types.polish.json
  src/data/card-types.portuguese.json
  src/data/card-types.swedish.json
  src/data/card-types.ukrainian.json
  src/data/cards.chinese.json
  src/data/cards.czech.json
  src/data/cards.dutch.json
  src/data/cards.finnish.json
  src/data/cards.french.json
  src/data/cards.german.json
  src/data/cards.italian.json
  src/data/cards.japanese.json
  src/data/cards.json
  src/data/cards.korean.json
  src/data/cards.norwegian.json
  src/data/cards.polish.json
  src/data/cards.portuguese.json
  src/data/cards.russian.json
  src/data/cards.spanish.json
  src/data/cards.swedish.json
  src/data/cards.ukrainian.json
  src/data/editions.italian.json
  src/data/editions.portuguese.json
  tools/wiki-bot/last-generation.json
Due: eslint

chore: update data/assets build with WikiBot
  src/assets/card_symbols/Rising_Sun_icon.png
  src/data/card-types.hebrew.json
  src/data/card-types.italian.json
  src/data/card-types.polish.json
  src/data/card-types.portuguese.json
  src/data/card-types.serbian.json
  src/data/card-types.swedish.json
  src/data/card-types.ukrainian.json
  src/data/cards.chinese.json
  src/data/cards.czech.json
  src/data/cards.dutch.json
  src/data/cards.finnish.json
  src/data/cards.french.json
  src/data/cards.german.json
  src/data/cards.hebrew.json
  src/data/cards.hungarian.json
  src/data/cards.italian.json
  src/data/cards.japanese.json
  src/data/cards.json
  src/data/cards.korean.json
  src/data/cards.norwegian.json
  src/data/cards.polish.json
  src/data/cards.portuguese.json
  src/data/cards.russian.json
  src/data/cards.serbian.json
  src/data/cards.spanish.json
  src/data/cards.swedish.json
  src/data/cards.ukrainian.json
  src/data/editions.italian.json
  src/data/editions.portuguese.json
  src/data/editions.serbian.json
  tools/wiki-bot/last-generation.json
Due: eslint

Path conditions:
  eslint: any of: *.{ts,js,json,component.html}
  stylelint --ignore-path .gitignore --cache: any of: *.scss
  markdownlint --ignore-path .gitignore: any of: *.md
