Repository GagaMen/dominionizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache, markdownlint --ignore-path .gitignore

.lintstagedrc.json:

{
    "*.{ts,js,json,component.html}": "eslint --ignore-path .gitignore",
    "*.scss": "stylelint --ignore-path .gitignore --cache",
    "*.md": "markdownlint --ignore-path .gitignore"
}

chore(readme): update shields, special thanks section and copyright
  README.md
Due: markdownlint --ignore-path .gitignore

fix(github): add missing permissions to create release in workflow
  .github/workflows/deploy-release.yml
Due: none

ci(github): add workflow to run the wiki bot periodically
  .github/workflows/run-wiki-bot.yml
Due: none

ci(github): add path to last-generation.json in wiki bot workflow
  .github/workflows/run-wiki-bot.yml
Due: none

fix(wiki-bot): fix execution of prettier after wiki bot run
  tools/wiki-bot/src/main.ts
Due: eslint --ignore-path .gitignore

ci(github): optimize run-wiki-bot workflow
  .github/workflows/run-wiki-bot.yml
Due: none

fix(wiki-bot): add missing tslib package to use object destructuring
  tools/wiki-bot/package-lock.json
  tools/wiki-bot/package.json
Due: eslint --ignore-path .gitignore

chore(wiki-bot): add missing prettier to wiki bot project
  tools/wiki-bot/package-lock.json
  tools/wiki-bot/package.json
Due: eslint --ignore-path .gitignore

ci(github): fix wrong substitution syntax in run-wiki-bot workflow
  .github/workflows/run-wiki-bot.yml
Due: none

ci(github): fix typo errors
  .github/workflows/run-wiki-bot.yml
Due: none

chore(assets): update assets build with WikiBot
  src/assets/data/cards.dutch.json
  src/assets/data/cards.german.json
  tools/wiki-bot/last-generation.json
Due: eslint --ignore-path .gitignore

ci(github): add body text for PR in run-wiki-bot workflow
  .github/workflows/run-wiki-bot.yml
Due: none

ci(github): use personal access token to trigger workflows
  .github/workflows/run-wiki-bot.yml
Due: none

ci(github): update workflows to make it pull request ready
  .github/workflows/run-pull-request-checks.yml
  .github/workflows/run-tests.yml
  .github/workflows/run-wiki-bot.yml
Due: none

ci(github): add missing working-directory on test step
  .github/workflows/run-pull-request-checks.yml
Due: none

chore(karma): remove unnecessary test browsers
  karma.conf.js
Due: eslint --ignore-path .gitignore

ci(github): simplify check workflows
  .github/workflows/run-checks.yml
  .github/workflows/run-linters.yml
  .github/workflows/run-tests.yml
  package.json
Due: eslint --ignore-path .gitignore

chore(husky): use test:ci script instead of test:coverage
  .husky/pre-push
Due: none

chore(readme): update status badges
  README.md
Due: markdownlint --ignore-path .gitignore

ci(github): remove unnecessary ignore of gh-pages branch
  .github/workflows/run-checks.yml
Due: none

chore(assets): update assets build with WikiBot
  src/assets/data/cards.polish.json
  tools/wiki-bot/last-generation.json
Due: eslint --ignore-path .gitignore

feat(services): respect locale in DataService
  src/app/services/data.service.spec.ts
  src/app/services/data.service.ts
Due: eslint --ignore-path .gitignore

feat(services): add translation service to get translation data by type
  src/app/services/translation.service.spec.ts
  src/app/services/translation.service.ts
  src/testing/data-fixture.ts
Due: eslint --ignore-path .gitignore

ci(vercel): add vercel config
  .gitignore
  vercel.json
Due: eslint --ignore-path .gitignore

ci(vercel): avoid infinite redirection loop
  vercel.json
Due: eslint --ignore-path .gitignore

fix(service): fix typo error in italian suffix in TranslationService
  src/app/services/translation.service.ts
Due: eslint --ignore-path .gitignore

ci(vercel): fix default locale redirection
  vercel.json
Due: eslint --ignore-path .gitignore

ci(github): prepare workflow for deployment to vercel
  .github/workflows/deploy-release.yml
Due: none

feat(components): add LanguageMenuComponent to switch language
  src/app/app.module.ts
  src/app/components/app-bar/app-bar.component.html
  src/app/components/app-bar/app-bar.component.spec.ts
  src/app/components/app-bar/app-bar.component.ts
  src/app/components/language-menu/language-menu.component.html
  src/app/components/language-menu/language-menu.component.scss
  src/app/components/language-menu/language-menu.component.spec.ts
  src/app/components/language-menu/language-menu.component.ts
  src/app/models/language.ts
  src/app/services/translation.service.ts
  src/testing/components/language-menu.host.component.ts
  src/testing/components/language-menu.stub.component.ts
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache

ci(vercel): fix soruce regex in locale redirections
  vercel.json
Due: eslint --ignore-path .gitignore

feat(services): respect card type translations based on current locale
  src/app/services/card-type.service.spec.ts
  src/app/services/card-type.service.ts
Due: eslint --ignore-path .gitignore

test(data-fixture): fix wrong method call in createCardTypeTranslations
  src/testing/data-fixture.ts
Due: eslint --ignore-path .gitignore
