Repository GagaMen/dominionizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache, markdownlint --ignore-path .gitignore

.lintstagedrc.json:

{
    "*.{ts,js,json,component.html}": "eslint --ignore-path .gitignore",
    "*.scss": "stylelint --ignore-path .gitignore --cache",
    "*.md": "markdownlint --ignore-path .gitignore"
}

ci(vercel): fix fallback rewrite
  vercel.json
Due: eslint --ignore-path .gitignore

ci(vercel): fix redirection rules to allow language switch by user
  src/app/components/language-menu/language-menu.component.html
  src/app/components/language-menu/language-menu.component.spec.ts
  vercel.json
Due: eslint --ignore-path .gitignore

feat: add basic internationalization settings
  angular.json
  package-lock.json
  package.json
  src/app/components/configuration/configuration.component.html
  src/app/components/expansion-select/expansion-select.component.html
  src/app/components/footer/footer.component.html
  src/app/components/set-ordering-menu/set-ordering-menu.component.html
  src/app/components/set/set.component.html
  src/app/components/special-card-select/special-card-select.component.html
  src/locale/translations.cs.xlf
  src/locale/translations.de.xlf
  src/locale/translations.el.xlf
  src/locale/translations.es.xlf
  src/locale/translations.fi.xlf
  src/locale/translations.fr.xlf
  src/locale/translations.hu.xlf
  src/locale/translations.it.xlf
  src/locale/translations.ja.xlf
  src/locale/translations.ko.xlf
  src/locale/translations.nl.xlf
  src/locale/translations.no.xlf
  src/locale/translations.pl.xlf
  src/locale/translations.ro.xlf
  src/locale/translations.ru.xlf
  src/locale/translations.xlf
  src/locale/translations.zh.xlf
  src/polyfills.ts
Due: eslint --ignore-path .gitignore

feat(services): add methods to fetch translation data with DataService
  src/app/services/data.service.spec.ts
  src/app/services/data.service.ts
Due: eslint --ignore-path .gitignore

feat(services): respect expansion translations based on current locale
  src/app/services/expansion.service.spec.ts
  src/app/services/expansion.service.ts
Due: eslint --ignore-path .gitignore

ci(vercel): remove wrong property "permanent"
  vercel.json
Due: eslint --ignore-path .gitignore

feat(services): respect card translations based on current locale
  src/app/services/card.service.spec.ts
  src/app/services/card.service.ts
Due: eslint --ignore-path .gitignore

fix(service): optimize paths in DataService to use also in dev environment
  src/app/app.component.ts
  src/app/services/data.service.ts
Due: eslint --ignore-path .gitignore

fix(readme): fix typo error
  README.md
Due: markdownlint --ignore-path .gitignore

test(components): add missing environment test for AppComponent
  src/app/app.component.spec.ts
Due: eslint --ignore-path .gitignore

chore(karma): remove testing folder from coverage report
  angular.json
Due: eslint --ignore-path .gitignore

ci(vercel): optimize redirection destination
  vercel.json
Due: eslint --ignore-path .gitignore

ci(vercel): add rewrite to allow deep linking
  vercel.json
Due: eslint --ignore-path .gitignore

refactor(components): remove unnecessary explicit redirection to index.html in LanguageMenu
  src/app/components/language-menu/language-menu.component.html
  src/app/components/language-menu/language-menu.component.spec.ts
Due: eslint --ignore-path .gitignore

fix(models): add missing entry "english" to Language enum
  src/app/models/language.ts
Due: eslint --ignore-path .gitignore

chore(assets): update assets build with WikiBot
  src/assets/data/cards.polish.json
  tools/wiki-bot/last-generation.json
Due: eslint --ignore-path .gitignore

feat(components): move LanguageMenuComponent to FooterComponent
  src/app/components/app-bar/app-bar.component.html
  src/app/components/app-bar/app-bar.component.spec.ts
  src/app/components/app-bar/app-bar.component.ts
  src/app/components/footer/footer.component.html
  src/app/components/footer/footer.component.spec.ts
  src/app/components/language-menu/language-menu.component.html
  src/app/components/language-menu/language-menu.component.scss
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache

feat(components): add icon to menu trigger link
  src/app/components/language-menu/language-menu.component.html
  src/app/components/language-menu/language-menu.component.scss
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache

fix(components): fix missing language entry for language trigger link
  src/app/components/language-menu/language-menu.component.html
  src/locale/translations.cs.xlf
  src/locale/translations.de.xlf
  src/locale/translations.el.xlf
  src/locale/translations.es.xlf
  src/locale/translations.fi.xlf
  src/locale/translations.fr.xlf
  src/locale/translations.hu.xlf
  src/locale/translations.it.xlf
  src/locale/translations.ja.xlf
  src/locale/translations.ko.xlf
  src/locale/translations.nl.xlf
  src/locale/translations.no.xlf
  src/locale/translations.pl.xlf
  src/locale/translations.ro.xlf
  src/locale/translations.ru.xlf
  src/locale/translations.xlf
  src/locale/translations.zh.xlf
Due: eslint --ignore-path .gitignore

chore: add meta description tag to index.html
  src/index.html
Due: none

ci(github): replace deprecating set-output command in WikiBot workflow
  .github/workflows/run-wiki-bot.yml
Due: none

feat: load images at install
  ngsw-config.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/models/service-worker-data.ts
  src/app/services/install.service.spec.ts
  src/app/services/install.service.ts
Due: eslint --ignore-path .gitignore

feat(components): add basic HomeComponent and routes
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.ts
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache

refactor(components): remove unnecessary change detection in FooterComponent
  src/app/components/footer/footer.component.spec.ts
Due: eslint --ignore-path .gitignore

refactor(components): optimize route handling
  src/app/app-routing.module.ts
Due: eslint --ignore-path .gitignore

refactor(components): use utility for change detection in AppBarComponent
  src/app/components/app-bar/app-bar.component.spec.ts
Due: eslint --ignore-path .gitignore

feat(components): add examples for section markup in HomeComponent
  src/app/components/home/home.component.html
Due: eslint --ignore-path .gitignore

feat(components): add header element to HomeComponent
  src/app/app.component.html
  src/app/app.component.scss
  src/app/components/app-bar/app-bar.component.html
  src/app/components/configuration/configuration.component.html
  src/app/components/configuration/configuration.component.spec.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/set/set.component.html
  src/scss/styles.scss
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache

feat(components): add descriptive texts to HomeComponent
  src/app/components/home/home.component.html
Due: eslint --ignore-path .gitignore

feat(components): add missing alt tags to images in HomeComponent
  src/app/components/home/home.component.html
Due: eslint --ignore-path .gitignore

feat(components): add basic css styles for article in HomeComponent
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache

feat: open ConfigurationComponent directly on installed app
  src/manifest.webmanifest
Due: none

build: fix copying of assets
  angular.json
  extra-webpack.config.js
Due: eslint --ignore-path .gitignore

fix: add id to webmanifest
  src/manifest.webmanifest
Due: none

fix(components): remove leading slash in images of HomeComponent
  src/app/components/home/home.component.html
Due: eslint --ignore-path .gitignore

feat(components): add illustrator for images in HomeComponent
  src/app/components/home/home.component.html
Due: eslint --ignore-path .gitignore

feat(components): add images to HomeComponent
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore --cache
